* {
    padding: 5px 20px 5px 20px;
}
body {
    color: #fff;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    padding: 1px 10%;
}
.brand-banner {
    background-color: coral;
    color: white;
}
.navbar ul {
    list-style: none;
    padding: 0;
}
.navbar li {
    display: inline;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
.img-header {
    background-image: url(/Ejercicios/Ejercicio\ 4/);
    text-align: center;

    background-position: center right;
}

.img-header h1 {
    font-size: 3em;
    line-height: 1.6em;
    margin: 30px;
}