/* Transformaciones */
.transform {
    height: 100px;
    width: 100px;

    background-color: #333;

    transform: translate(300px, -20px) rotate(45deg) scale(0.3) skew(45deg);
}

/*Transiciones */

.transitions {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    background-color:darkcyan;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out; */
    transition: transform 0.5s ease-in-out;
}

.transitions:hover {
    transform: scale(1.3) rotate(360deg);
}

/* Animaciones */
.animations {
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    50% {
        color: rebeccapurple;
    }
    
    to{
        margin-left: 0%;
        color: red;
    }
}
